RAGGLE_INDEX_DIR=~/.raggle
RAGGLE_EMBEDDING_MODEL=Xenova/bge-small-en-v1.5
RAGGLE_EMBEDDING_DIM=384
RAGGLE_EXTRACT_DEPTH=ner
RAGGLE_NER_ENTITY_TYPES=person,organization,technology,concept,location,object,activity,date_time
RAGGLE_MAX_CHUNK_TOKENS=512
RAGGLE_CHUNK_OVERLAP=50
RAGGLE_FUSION_K=60
RAGGLE_GRAPH_RRF_WEIGHT=1.5
RAGGLE_GRAPH_MAX_HOPS=2
RAGGLE_RERANK_POOL_SIZE=20
RAGGLE_RERANK_SCORE_THRESHOLD=-8.0
RAGGLE_SEMANTIC_SCORE_FLOOR=0.4
RAGGLE_READ_ONLY=false
